
<div class="container">
    <h2 style="margin-left:40%">Products</h2>  
    <div style="margin-left: 26%;">
        <button type="button" class="btn btn-primary">Add Product</button>
        <button type="button" class="btn btn-success" style="margin-left: 20px;">Track Order</button>
        <button type="button" class="btn btn-info" style="margin-left: 20px;">Product Details</button>
        <button type="button" class="btn btn-danger" style="margin-left: 20px;">Cancel</button>
    </div><br>

    <div class="form-group" style="margin-top: 20px">
       <input type="text" class="form-control" placeholder="Search" name="search" 
        style="width: 36%;margin-left:30%"><br>
      </div>
  <table class="table  table-bordered table-striped" style="margin-top: 2%"> 
    <thead>
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Year</th>
            <th>Prie</th>
          </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paint of paint">
            <td>{{paint.Name}}</td>
            <td>{{paint.artist}}</td>
            <td>{{paint.year}}</td>
             <td>{{paint.price}}</td>
          </tr>
  
    </tbody>
  </table>
</div>
<br><br><br><br><br>

