<h1 class="abc">Services </h1>


<b style="margin-left: 3%;color:#0B1183;">ART GALLERY</b><br>
<p class="a">
The main feature of VAISHNAVI'S ART GALLERY is to offer a wide range of works of art from the 
seventeenth century to the present days.<br>
Modern and contemporary art are the main branches of the gallery. <br>The importance of the artists is world class and much attention is paid to the quality of the exhibits.<br>
Each work is accompanied by an expertise or a certificate of authenticity.<br>
In which means it is legally registered in the archive of the artist.
It will be our pleasure to satisfy special requests from new clients.
</p>

<b style="margin-left: 3%;color:#0B1183;">ART ADVISOR</b><br>
<p class="a">
Our task is to guide the customers in buying or investing in artworks indicating when and what
 to sell and buy, in connection with offers of the market at the moment.
We conduct this work through research and analysis of the art market. <br>We update the customer 
on investments by evaluating the works of art of greatest interest based on
available databases, as we assist in the sale and represent him at auction.<br>
Our consulting activity is not limited to the investment sector.<br> We give great importance to the 
decoration of spaces, and we strive to include works of art in private
or public spaces trying to create a situation of pleasant coexistence and harmony among persons,
 elements of furniture and works of art.</p>
 
 <b style="margin-left: 3%;color:#0B1183;">ART ADVISOR</b><br>
<p class="a">
In order to make your events more exclusive our galleries has the perfect venue to suit your need.<br>
 In a prestigious setting formed by paintings, sculptures and works of art, 
 you can use the space according to your needs and your tastes.</p>
 <br>
 <br>
 <br>
 <br>

 <div class="top-right">
		<p style="color:#0B1183; font-weight:600;font-size:30px;	top: 22%;">Expoler</p>
		<img src="assets\s2.jpg" width="400" height="200">
		<br>
		<br>
		<br>
		<br>
		<img src="assets\s3.jpg" width="400" height="200">
	</div>
	 