.body{
	color:#FDEEF4;
	}
	
.abc{
	width:60%;
	margin-left: 3%;
	margin-top:0.6%;
	color:#0B1183;
	}

.a{
	width:60%;
	margin-left: 3%;
	margin-top: 10px;
	background-color:#FDEEF4;
	font-size:16px;
}
.top-right {
  position: absolute;
	top: 22%;
  right: 3.5%;
}
.heading {
   position: absolute;
  top: 2%;
  left: 45%;
  transform: translate(-50%, -50%);
}